html {
    background-color: #000000;
}

body {
    width: 800px;
    height: 480px;
    background-color: #000000;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

.content {
	margin: 0 auto;
}

.content > div {
    margin: 0 auto;
    text-align: center;
}

.date {
    font-size: 18pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.clock {
	margin: 0 auto;
    font-size: 18pt;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.day_time {
	margin-bottom: 0;
    padding-bottom: 0;
    color: #ffffff;
}

.weather {
	margin-top: 0;
    padding-top: 0;
}

[class*="_copy"] {
    font-size: 14pt;
}

.temp_p, .wind_p, .precip_p {
	
}

.section_title {
	font-weight: 800;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

#data_box {
    display: block;
    margin: 0 auto;
    text-align: center;
	height: 40px;
    width: 130px;
    line-height: 40px;
    border-style: inset;
    border-width: 3px;
    border-color: #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 700;
    color: #000000;
}

.low, .high {
	display: inline-block;
    width: 300px;
}

.low {
    float: left;
}

.high {
	float: right;
}

.precip_wind {
	margin-top: 130px;
    text-align: center;
}
.precip, .wind {
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.wind {
	padding-top: 30px;
}
