html {
    background-color: #00274c;
}

body {
    width: 800px;
    height: 480px;
    background-color: #00274c;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

.content {
	margin: 0 auto;
}

.content > div {
    margin: 0 auto;
    text-align: center;
}

.date {
    font-size: 36pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.clock {
	margin: 0 auto;
    font-size: 48pt;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.day_time {
	margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 100pt;
    color: #ffcb05;
}

.weather {
	padding-top: 90pt;
}

.temp_headline {
	color: #ffcb05;
    font-size: 36pt;
    padding-bottom: 0pt;
    margin-bottom: 0pt;
}

.temp {
    padding-top: 0pt;
    margin-top: 0pt;
    font-size: 36pt;
    font-weight: 700pt;
    color: #ffcb05;
}